{% extends "base.html" %}

{% block body %}
        <form action='/processform' method='POST'>
        <h2 align="center">Source Word: {{ random_Word }}</h2>
        <p align="center"> Game Rules:<br><br>
        Enter seven real words from the letters in the source word.<br>
        Each word must have three or more letters.<br>
        The source word itself cannot be used.<br>
        Don't enter the same word twice.<br><br>
        
            Word 1: <input type='text' name='Word 1' required><br>
            Word 2: <input type='text' name='Word 2' required><br>
            Word 3: <input type='text' name='Word 3' required><br>
            Word 4: <input type='text' name='Word 4' required><br>
            Word 5: <input type='text' name='Word 5' required><br>
            Word 6: <input type='text' name='Word 6' required><br>
            Word 7: <input type='text' name='Word 7' required><br><br>
            <input type='submit'></p>
        </form>
{% endblock %}